<p id="notice"><%= notice %></p>

 <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Event brite, event brighter, even better !</h1>
          <p>Avec Event Better, réservez n'importe quel événement et participez à des conférences en ligne, depuis votre canapé !</p>
          <p><a class="btn btn-primary btn-lg" href="/" role="button">Voir tous les événemets</a></p>
        </div>
</div>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
      	<td>Titre de l'évènement n°<%= event.id %> : <%= event.title %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
