<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>

<h1>New Event</h1>

<%= form_for @event do |f| %>
  <div class="form-group">
    <%= f.label :title, "Titre" %><br />
    <%= f.text_field :title, autofocus: true, autocomplete: "title" %>
  </div>
  
  <div class="form-group">
    <%= f.label :description, "Description" %><br />
    <%= f.text_area :description, autofocus: true, autocomplete: "description" %>
  </div>
  
  <div class="form-group">
    <%= f.label :start_date, "Date" %><br />
    <%= f.date_field :start_date, autofocus: true, autocomplete: "start_date" %>
  </div>

  <div class="form-group">
    <%= f.label :duration, "Durée" %><br />
    <%= f.number_field :duration, autofocus: true, autocomplete: "duration" %>
  </div>
  
  <div class="form-group">
    <%= f.label :price, "Prix" %><br />
    <%= f.number_field :price, autofocus: true, autocomplete: "price" %>
  </div>
  
  <div class="form-group">
    <%= f.label :location, "Ville" %><br />
    <%= f.text_field :location, autofocus: true, autocomplete: "location" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>
  </div>
  
  

<% end %>


</div>
</div>
</div>
